@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f7f7;
    --foreground: #ededed;
  }
}

@layer components {
  .slider {
    @apply w-full h-5 rounded-full appearance-none cursor-pointer bg-[#f7f7f7];
    background: linear-gradient(
      to right,
      var(--color) 0%,
      var(--color) var(--value),
      #f7f7f7 var(--value),
      #f7f7f7 100%
    );
  }

  .slider::-webkit-slider-runnable-track {
    @apply h-5 rounded-full bg-transparent;
  }

  .slider::-webkit-slider-thumb {
    @apply appearance-none w-5 h-[20px] border-2 border-[#191DFA] rounded-full bg-white;
    margin-top: 0px;
  }

  .slider::-moz-range-track {
    @apply h-[20px] rounded-full bg-transparent;
  }

  .slider::-moz-range-thumb {
    @apply w-5 h-[20px] rounded-full bg-white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), "Manrope", Arial, Helvetica, sans-serif;
}
